<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/classifiedsadv?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">30518</property>
    <mapping resource="controller/Advertisement.hbm.xml"/>
    <mapping resource="controller/Hidelog.hbm.xml"/>
    <mapping resource="controller/Image.hbm.xml"/>
    <mapping resource="controller/User.hbm.xml"/>
    <mapping resource="controller/Customer.hbm.xml"/>
    <mapping resource="controller/Category.hbm.xml"/>
    <mapping resource="controller/Moderator.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
